@using ITCAir.Web.Models.Flights
@model FlightDetailsViewModel
@{
    ViewData["Title"] = "Flight Details";
}

<div class="white-groupbox" style="padding-left:10px; padding-right:10px;">
    <h4 class="text-center">Flight Details</h4>
    <hr />
    <table class="table-striped table table-hover" style="border: solid 2px purple;">
        <thead style="color: #fff; background-color: purple; border: solid 3px purple;">
            <tr>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Departure
                </th>
                <th>
                    Arrival
                </th>
                <th>
                    Pln. Id
                </th>
                <th>
                    Pilot
                </th>
                <th>
                    Ec.
                </th>
                <th>
                    Bus.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.From
                </td>
                <td>
                    @Model.To
                </td>
                <td>
                    @Model.DepartureTime
                </td>
                <td>
                    @Model.Arrival
                </td>
                <td>
                    @Model.PlaneId
                </td>
                <td>
                    @Model.PilotName
                </td>
                <td>
                    @Model.CapacityEconomy
                </td>
                <td>
                    @Model.CapacityBusiness
                </td>
            </tr>
        </tbody>
    </table>
    <form method="get" asp-controller="Reservations" asp-action="ReturnFromEdit">
        <div class="form-group" style="text-align:center;">
            <input formmethod="get" id="CRUDButton" type="submit" value="Back to List" class="btn btn-primary" />
        </div>
    </form>
</div>