@model ITCAir.Web.Models.Reservations.FirstStepReservationModel
@using ITCAir.Web.GlobalConstants
@using ITCAir.Web.Models.Flights
@inject AllFlightsForReservationsViewModel Flights
@{
    ViewData["Title"] = "Index";
    this.Flights = (AllFlightsForReservationsViewModel)this.ViewData["AllFlightInfo"];
}
<style>
    .One input {
        float: left;
    }
</style>
<div class="One">
    <form asp-controller="Reservations" asp-action="ProcessFirstStepReservationOnTop">
        <div class="form-row gradient-groupbox" style="padding: 5px 5px 3px 3px; border-radius: 5px;">
            <div class="form-group col-md-3">
                <label asp-for="From" class ="control-label" for="inputFrom">From</label>
                <input asp-for="From" class="form-control" id="inputFrom">
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="To" class ="control-label" for="inputTo">To</label>
                <input asp-for="To" class="form-control" id="inputTo">
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="DepartureDate" class="control-label"></label>
                <input asp-for="DepartureDate" class="form-control" type="date">
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" type="date">
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1">
                <label asp-for="People" class="control-label"></label>
                <input asp-for="People" class="form-control" />
                <span asp-validation-for="People" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1 justify-content-end">
                <input style ="align-self: baseline;"type="submit" value="Go!" class="btn btn-light"/>
            </div>
        </div>
    </form>
</div>

<div class ="white-groupbox" style="margin-top: 30px; padding: 15px 15px 15px 15px; border-radius: 5px;">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Departure
                </th>
                <th>
                    Arrival
                </th>
                <th></th>
            </tr>
        </thead>
        <br />
        <h2>From @Model.From To @Model.To</h2>
        <tbody>
            @foreach (FlightViewModel item in Flights.GoingFlights)
            {
                <tr>
                    <td>
                        @item.Departure.Date.ToLongDateString();
                    </td>
                    <td>
                        @item.Departure.ToShortTimeString()
                    </td>
                    <td>
                        @item.Arrival.ToShortTimeString()
                    </td>
                    <td>
                        <a asp-controller="Reservations" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete">Delete</a>@*asp-route-id="@item.Id"*@
                    </td>
                </tr>
            }
        </tbody>
        <ul class="pagination">
            @for (var i = 1; i <= Flights.PagerOnGoing.PagesCount; i++)
            {
                <li class="page-item @(i == Flights.PagerOnGoing.CurrentPage ? "active" : "")">
                    <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
                </li>
            }
        </ul>
    </table>

</div>

@{
    if (ModelClass.OneWay == false)
    {
        <div class ="white-groupbox" style="margin-top: 30px; padding: 15px 15px 15px 15px; border-radius: 5px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Departure
                        </th>
                        <th>
                            Arrival
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <br />
                <h2>From @Model.To To @Model.From</h2>
                <tbody>
                    @foreach (FlightViewModel item in Flights.ReturningFlights)
                    {
                        <tr>
                            <td>
                                @item.Departure.Date.ToLongDateString();
                            </td>
                            <td>
                                @item.Departure.ToShortTimeString()
                            </td>
                            <td>
                                @item.Arrival.ToShortTimeString()
                            </td>
                            <td>
                                <a asp-controller="Reservations" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete">Delete</a>@*asp-route-id="@item.Id"*@
                            </td>
                        </tr>
                    }
                </tbody>
                <ul class="pagination">
                    @for (var i = 1; i <= Flights.PagerOnReturning.PagesCount; i++)
                    {
                        <li class="page-item @(i == Flights.PagerOnReturning.CurrentPage ? "active" : "")">
                            <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
                        </li>
                    }
                </ul>
            </table>
        </div>
    }
}