@model ITCAir.Web.Models.Reservations.FirstStepReservationModel
@using ITCAir.Web.GlobalConstants
@using ITCAir.Web.Models.Flights
@inject AllFlightsForReservationsViewModel Flights
@{
    if (ViewData["ChooseGoing"] == null)
    {
        ViewData["ChooseGoing"] = -1;
    }
    if (ViewData["ChooseReturning"] == null)
    {
        ViewData["ChooseReturning"] = -1;
    }
    ViewData["Title"] = "Book a flight";
    this.Flights = (AllFlightsForReservationsViewModel)this.ViewData["AllFlightInfo"];
}
<style>
    .One input {
        float: left;
    }
</style>
<div class="One">
    <form asp-controller="Reservations" asp-action="ProcessFirstStepReservationOnTop">
        <div class="form-row gradient-groupbox" style="padding: 5px 5px 3px 20px; border-radius: 5px;">
            <div class="form-group col-md-3">
                <label asp-for="From" class="control-label" for="inputFrom">From</label>
                <input asp-for="From" class="form-control" id="inputFrom">
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="To" class="control-label" for="inputTo">To</label>
                <input asp-for="To" class="form-control" id="inputTo">
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="DepartureDate" class="control-label">Departure Date</label>
                <input asp-for="DepartureDate" class="form-control" type="date">
                <span asp-validation-for="DepartureDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="ReturnDate" class="control-label">Return Date</label>
                <input asp-for="ReturnDate" class="form-control" type="date">
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1">
                <label asp-for="People" class="control-label"></label>
                <input asp-for="People" class="form-control" />
                <span asp-validation-for="People" class="text-danger"></span>
            </div>
            <div class="form-group col-md-1">
                <input style="height: 72px; line-height:60px;" type="submit" value="Go!" class="btn btn-light" />
            </div>
        </div>
    </form>
</div>

<div class="white-groupbox" style="margin-top: 30px; padding: 15px 15px 15px 15px; border-radius: 5px;">
    <h2 style="text-align:center">From @Model.From To @Model.To</h2>
    <br />
    <table class="table-striped table table-hover" style="border: solid 2px purple;">
        <thead style="color: #fff; background-color: purple; border: solid 3px purple;">
            <tr>
                <th>
                    Date
                </th>
                <th>
                    Departure
                </th>
                <th>
                    Arrival
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (FlightViewModel item in Flights.GoingFlights)
            {
                <tr>
                    <td>
                        @item.Departure.Date.ToLongDateString()
                    </td>
                    <td>
                        @item.Departure.ToShortTimeString()
                    </td>
                    <td>
                        @item.Arrival.ToShortTimeString()
                    </td>
                    <td>
                        <div class="float-right">
                            <form asp-controller="Reservations" asp-action="Details" asp-route-id=@item.Id>
                                <input id="CRUDButton" style="margin-left: 8px; margin-right: 8px" type="submit" value="Details" class="btn btn-primary btn-sm" />
                            </form>
                        </div>
                        <div class="float-right">
                            <form asp-controller="Reservations" asp-action="BookForGoind" asp-route-id=@item.Id>
                                @{
                                    if ((int)this.ViewData["ChooseGoing"] == item.Id)
                                    {
                                        <input id="CRUDButton" style="margin-left: 8px; margin-right: 8px; opacity:0.8;" type="submit" value="Booked" class="btn disabled btn-primary btn-sm" />
                                    }
                                    else
                                    {
                                        <input id="CRUDButton" style="margin-left: 8px; margin-right: 8px" type="submit" value="Book" class="btn btn-primary btn-sm" />
                                    }
                                }
                            </form>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <ul class="pagination">
        @for (var i = 1; i <= Flights.PagerOnGoing.PagesCount; i++)
        {
            <li class="page-item @(i == Flights.PagerOnGoing.CurrentPage ? "active" : "")">
                <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
            </li>
        }
    </ul>
</div>

@{
    if (ModelClass.OneWay == false)
    {
        <div class="white-groupbox" style="margin-top: 30px; padding: 15px 15px 15px 15px; border-radius: 5px;">
            <h2 style="text-align:center">From @Model.To To @Model.From</h2>
            <br />
            <table class="table-striped table table-hover" style="border: solid 2px purple;">
                <thead style="color: #fff; background-color: purple; border: solid 3px purple;">
                    <tr>
                        <th>
                            Date
                        </th>
                        <th>
                            Departure
                        </th>
                        <th>
                            Arrival
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (FlightViewModel item in Flights.ReturningFlights)
                    {
                        <tr>
                            <td>
                                @item.Departure.Date.ToLongDateString()
                            </td>
                            <td>
                                @item.Departure.ToShortTimeString()
                            </td>
                            <td>
                                @item.Arrival.ToShortTimeString()
                            </td>
                            <td>
                                <div class="float-right">
                                    <form asp-controller="Reservations" asp-action="Details" asp-route-id=@item.Id>
                                        <input id="CRUDButton" style="margin-left: 8px; margin-right: 8px" type="submit" value="Details" class="btn btn-primary btn-sm" />
                                    </form>
                                </div>
                                <div class="float-right">
                                    <form asp-controller="Reservations" asp-action="BookForReturning" asp-route-id=@item.Id>
                                        @{
                                            if ((int)this.ViewData["ChooseReturning"] == item.Id)
                                            {
                                                <input id="CRUDButton" style="margin-left: 8px; margin-right: 8px;opacity:0.8;" type="submit" value="Booked" class="btn  btn-primary btn-sm" />
                                            }
                                            else
                                            {
                                                <input id="CRUDButton" style="margin-left: 8px; margin-right: 8px" type="submit" value="Book" class="btn btn-primary btn-sm" />
                                            }

                                        }
                                    </form>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <ul class="pagination">
                @for (var i = 1; i <= Flights.PagerOnReturning.PagesCount; i++)
                {
                    <li class="page-item @(i == Flights.PagerOnReturning.CurrentPage ? "active" : "")">
                        <a asp-route-Pager.CurrentPage="@i" class="page-link">@i</a>
                    </li>
                }
            </ul>
        </div>
    }

    if (ModelClass.OneWay && FlightsClass.GoingPlaneId != 0 || FlightsClass.GoingPlaneId != 0
                && FlightsClass.ReturningPlaneId != 0)
    {
        <div>
            <div class="white-groupbox col-2" style="margin-top:20px;">
                <form asp-controller="Reservations" asp-action="RegisterPassengers">
                    <div class="form-group text-center">
                        <input id="CRUDButton" type="submit" value="Continue" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    }
}