@using ITCAir.Web.Models.Flights
@using ITCAir.Data.Enum
@using ITCAir.Web.GlobalConstants;
@model FlightDetailsWithPassengersViewModel
@{
    ViewData["Title"] = "Flight Details";
}

<div class="white-groupbox" style="padding-left:10px; padding-right:10px;">
    <h4 class="text-center">Flight details</h4>
    <hr />
    <table class="table-striped table table-hover" style="border: solid 2px purple;">
        <thead style="color: #fff; background-color: purple; border: solid 3px purple;">
            <tr>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Departure
                </th>
                <th>
                    Arrival
                </th>
                <th>
                    Pln. Id
                </th>
                <th>
                    Pln. Model
                </th>
                <th>
                    Pilot
                </th>
                <th>
                    Ec.
                </th>
                <th>
                    Bus.
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Model.From
                </td>
                <td>
                    @Model.To
                </td>
                <td>
                    @Model.Departure
                </td>
                <td>
                    @Model.Arrival
                </td>
                <td>
                    @Model.PlaneId
                </td>
                <td>
                    @Model.PlaneModel
                </td>
                <td>
                    @Model.PilotName
                </td>
                <td>
                    @Model.CapacityEconomy
                </td>
                <td>
                    @Model.CapacityBusiness
                </td>
            </tr>
        </tbody>
    </table>

    <form method="get" asp-controller="Flights" asp-action="Flights">
        <div class="form-group" style="text-align:center;">
            <input formmethod="get" id="CRUDButton" type="submit" value = "Back to flights" class="btn btn-primary" />
        </div>
    </form>
</div>

<div class="white-groupbox" style="padding-left:10px; padding-right:10px; margin-top:20px;">
    <h4 class="text-center"> Passengers</h4>
    <hr />
    @if (Model.Reservations.Count > 0)
    {
        <table class="table-striped table table-hover" style="border: solid 2px purple;">
            <thead style="color: #fff; background-color: purple; border: solid 3px purple;">
                <tr>
                    <th>
                        Res. Email
                    </th>
                    <th>
                        Personal Id
                    </th>
                    <th>
                        First Name
                    </th>
                    <th>
                        Middle Name
                    </th>
                    <th>
                        Last Name
                    </th>
                    <th>
                        Nationality
                    </th>
                    <th>
                        Phone Number
                    </th>
                    <th>
                        Ticket Type
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var reservation in Model.Reservations)
                    {
                        <tr>
                            <td style="vertical-align:middle" rowspan="@reservation.Passengers.Count()">
                                @reservation.Email
                            </td>
                            @{ var firstPassenger = reservation.Passengers.First();}
                            <td>
                                @firstPassenger.PersonalId
                            </td>
                            <td>
                                @firstPassenger.FirstName
                            </td>
                            <td>
                                @firstPassenger.MiddleName
                            </td>
                            <td>
                                @firstPassenger.LastName
                            </td>
                            <td>
                                @firstPassenger.Nationality
                            </td>
                            <td>
                                @firstPassenger.PhoneNumber
                            </td>
                            @if (firstPassenger.Ticket == TicketType.Bussiness)
                            {
                                <td>
                                    Business
                                </td>
                            }
                            else
                            {
                                <td>
                                    Economy
                                </td>
                            }
                        </tr>
                        foreach (var passenger in reservation.Passengers.Skip(1))
                        {
                            <tr>
                                <td>
                                    @passenger.PersonalId
                                </td>
                                <td>
                                    @passenger.FirstName
                                </td>
                                <td>
                                    @passenger.MiddleName
                                </td>
                                <td>
                                    @passenger.LastName
                                </td>
                                <td>
                                    @passenger.Nationality
                                </td>
                                <td>
                                    @passenger.PhoneNumber
                                </td>
                                @if (passenger.Ticket == TicketType.Bussiness)
                                {
                                    <td>
                                        Business
                                    </td>
                                }
                                else
                                {
                                    <td>
                                        Economy
                                    </td>
                                }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
        <div class="row" style="padding-left:20px;">
            <ul class="pagination col-10">
                @for (var i = 1; i <= FlightDetailsPaging.Pager.PagesCount; i++)
                {
                    <li class="page-item @(i == FlightDetailsPaging.Pager.CurrentPage ? "active" : "")">
                        <a asp-action="ChangeFlightReservationsPage" asp-route-pageId="@i" class="page-link">@i</a>
                    </li>
                }
            </ul>
            <ul style="margin-right:0px;" class="pagination text-right col-2">
                <li class="page-item @(FlightDetailsPaging.Pager.PageSize == 5 ? "active" : "")">
                    <a asp-action="ChangeFlightReservationsPageSize" asp-route-pageSize="5" class="page-link">5</a>
                </li>
                <li class="page-item @(FlightDetailsPaging.Pager.PageSize == 15 ? "active" : "")">
                    <a asp-action="ChangeFlightReservationsPageSize" asp-route-pageSize="15" class="page-link">15</a>
                </li>
                <li class="page-item @(FlightDetailsPaging.Pager.PageSize == 25 ? "active" : "")">
                    <a asp-action="ChangeFlightReservationsPageSize" asp-route-pageSize="25" class="page-link">25</a>
                </li>
            </ul>
        </div>
    }
    else
    {
        <div class="text-center">
            <h2 style="margin-bottom:25px;">There are no passengers for this flight</h2>
        </div>
    }
</div>

